.movies-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  & .movies-list__item {
    display: grid;
    grid-template-columns: 64px 1fr 0.5fr;
    grid-template-areas:
      'icon title rating'
      'icon cat rating'
      '. del del';
    border-top: 1px solid #eeeeee;
    padding: 30px 2.5rem;
    align-items: center;
    justify-self: center;
    column-gap: 25px;
  }
  & .item__icon {
    --size: 64px;
    background: #61a0ff;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    grid-area: icon;
  }
  & .item__title {
    grid-area: title;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & .item__cat {
    grid-area: cat;
    font-size: 16px;
    color: #aaaaaa;
  }
  & .item__rating {
    grid-area: rating;
    display: flex;
    & > * {
      margin: 0 4px;
    }
  }
  & .movies-list__item:last-child {
    border-bottom: 1px solid #eeeeee;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
  }
  & .item__buttons {
    grid-area: del;
    display: none;
    margin-top: 15px;
    & button {
      border-radius: 5px;
      min-width: 82px;
      padding: 5px 10px;
      background-color: rgb(233, 67, 67);
      color: #fff;
      border: 1px solid rgb(233, 67, 67);
      &:hover {
        cursor: pointer;
        filter: brightness(130%);
      }
      &:focus {
        outline: rgb(241, 35, 35) auto 1px;
      }
    }
    & .button__edit {
      background-color: #373737;
      border: 1px solid #222;
      margin-left: 16px;
      &:focus {
        outline: hsl(290, 75%, 65%) auto 1px;
      }
    }
  }
  & .movies-list__item:hover {
    background-color: #eee;
    padding-bottom: 15px;
    & .item__title {
      overflow: visible;
      white-space: normal;
    }
    & .item__buttons {
      display: block;
    }
  }
}


@media (max-width: 520px) {
  .movies-list .movies-list__item {
    padding: 30px 4%;
    column-gap: 10px;
    grid-template-columns: 64px 1fr;
    grid-template-areas: 
    'icon title'
    'icon cat'
    '. rating'
    'del del'
  }
  .movies-list {
    & .item__rating {
      margin: 15px 0;
    }
    & .item__icon {
      --size: 54px;
    }
  }
}